<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>steed.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <main role="main">
        <button id="be-quoted" class="animated pulse">Cotiza</button>
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <div class="footer-section">
          <summary>Contáctanos</summary>
          <p class="footer-info">info@steed.mx</p>
        </div>
        <div class="footer-section">
          <summary>Visítanos</summary>
          <p class="footer-info">Tabasco 242,</p>
          <p class="footer-info">Roma Norte</p>
          <p class="footer-info">55 2259 6898</p>
        </div>
        <div class="footer-section-icons">
          <a href="https://www.facebook.com/SteedMx/">
            <img class="footer-icon" src="/images/footer-fb.png"/>
          </a>
          <img class="footer-icon" src="/images/footer-skype.png"/>
          <img class="footer-icon" src="/images/footer-twitter.png"/>
          <img class="footer-icon" src="/images/footer-insta.png"/>
        <div>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
