@font-face{
  font-family:"Avenir CDN";
  src:url("/fonts/AvenirLTStd-Light.otf");
  font-weight:100;
}

* {
  text-rendering:optimizeLegibility;
}

*:focus {
  outline: none;
}

body, html {
  margin:0;
  padding:0;
  overflow-x:hidden;
}

section {
  height:100vh;
  width:100vw;
  background-color:#c1c1c1;
}

.parallax {
  background-position:0 0;
}

/*
* MENU
*/
#menu {
  transition:display 2s ease;
  background:-webkit-linear-gradient(left, rgb(160,30,28), rgba(97,4,0, 0.9));
  width:100vw;
  position:fixed;
  z-index:665;
}

.menu-hidden {
  display:none;
}

.menu-visible {
  display:inherit;
}

.menu-item {
  transition:color 0.5s ease;
  font-family:Avenir,sans-serif;
  color:white;
  margin:0 5vw 0 5vw;
  text-transform:lowercase;
  font-weight:100;
  font-size:2.8em;
}

.menu-sub-item {
  transition:color 0.5s ease;
  font-family:Avenir,sans-serif;
  color:white;
  margin:0 5vw 0 5vw;
  text-transform:lowercase;
  font-weight:100;
  font-size:1.6em;
  margin-left:6vw;
}

.menu-item:hover {
  color:#ff7878;
  cursor:pointer;
}

.menu-sub-item:hover {
  color:#ff7878;
  cursor:pointer;
}

#first-menu-item {
  font-weight:100;
  padding:15vh 0 5vh 0;
}

#menu-contact {
  margin:3vh 5vw 0 5vw;
}

#menu-info {
  font-family:Avenir,sans-serif;
  color:white;
  margin:15vh 5vw 0 5vw;
}

#menu-info > p {
  margin:0.5vh 0 0.5vh 0;
}

#menu-trigger {
  transition:background-image 0.5s ease;
  position:fixed;
  z-index:666;
  left:5vw;
  top:8vh;
  color: white;
  text-transform: lowercase;
  font-family: Avenir,sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  border:none;

  width:3vw;
  height:5vh;
  min-width:40px;
  min-height:30px;
}

.menu-open {
  background-image:url("/images/menu-icon.png");
  background-color:transparent;
  background-size:cover;
}

.menu-close {
  background-image:url("/images/menu-icon-close.png");
  background-color:transparent;
  background-size:cover;
}

#be-quoted {
  position:fixed;
  z-index:666;
  right:5vw;
  top:8vh;

  background-color:rgb(230,48,46);
  color:white;
  text-transform:lowercase;
  font-family:Avenir,sans-serif;
  font-size:1.6em;
  letter-spacing:0.1em;
  border-color:white;
  border-style:solid;
  border-width:0.08em;
  padding:1.5vh 1.5vw;

  box-shadow:0 1px 7px #3c1010;
}

/*
* SPLASH
*/

#splash-section {
  background:-webkit-linear-gradient(rgb(230,48,46), rgb(166,48,44));
  box-sizing:border-box;

  display:flex;
  align-content:center;
  align-items:center;
}

#splash {
  height:12vh;
  width:55vw;
  padding:40vh 20vw 40vh 20vw;
  margin:0 auto;
  text-align:center;

  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:column;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  border:0.15em solid white;
}

#steed {
  color:#fff;
  font-family:"Avenir CDN",sans-serif;
  font-weight:100;
  font-size:8em;
  margin:-0.4em 0 0 0;
}

#welcome {
  color:#fff;
  font-family:"Avenir CDN",sans-serif;
  font-weight:100;
  font-size:1.2em;
  letter-spacing:0.02em;
  margin:0;
  max-width:30em;
}

/*
* CONSULTANCY
*/

#consultancy-section {
  box-sizing:border-box;

  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:column;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  overflow:hidden;
  height:100vh;
  background-image:url("/images/consultancy-cover.png");
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}

#consultancy-video {
  width:100vw;
  zoom:150%;
}

#consultancy-video-color {
  background-color:rgba(47,9,9, 0.5);
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

#consultancy {
  transition:color 0.5s ease;
  position:absolute;
  bottom:0.2em;
  left:0.5em;
  color:white;
  font-family:league-gothic,sans-serif;
  text-transform:uppercase;
  letter-spacing:0.1em;
  font-size:6em;
  font-weight:100;
}

#consultancy:hover {
  color:#ff7878;
}

/*
* SOLUTIONS
*/

#solutions-section {
  background-color:#c4c4c4;
  background-image:url("/images/solutions-asset.png");
  background-repeat:no-repeat;
  background-size:cover;

  box-sizing:border-box;
  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:column;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  overflow:hidden;
  height:100vh;
  position:relative;
}

#solutions-asset {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

#solutions-iphone {
  background-image:url("/images/solutions-iphone.png");
  background-repeat:no-repeat;
  background-size:cover;
  position:absolute;

  width:60vw;
  height:90vh;
  bottom:4em;
  left:45vw;
}

#solutions {
  position:absolute;
  bottom:10em;
  left:2em;
  color:rgb(230,48,46);
  font-family:Avenir,sans-serif;
  text-transform:lowercase;
  letter-spacing:0.1em;
  font-size:2em;
}

#solutions-feature {
  transition:color 0.5s ease;
  position:absolute;
  bottom:0.2em;
  left:0.5em;
  color:#fff;
  font-family:league-gothic,sans-serif;
  text-transform:uppercase;
  letter-spacing:0.1em;
  font-size:6em;
  font-weight:100;
  max-width:8em;
}

#solutions-feature:hover {
  color:#ff7878;
}

/*
* EVENTS
*/

#events-section {
  background-color:#c4c4c4;
  background-image:url("/images/events-cover.jpg");
  background-repeat:no-repeat;
  background-size:cover;

  box-sizing:border-box;
  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:column;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  overflow:hidden;
  height:100vh;
  position:relative;
}

#events-triangles {
  background-image:url("/images/events-triangles.png");
  background-repeat:no-repeat;
  background-size:cover;
  position:absolute;

  width:80vw;
  height:100vh;
  bottom:0;
  right:0;
}

#events {
  position:absolute;
  bottom:10em;
  left:2em;
  color:rgb(230,48,46);
  font-family:Avenir,sans-serif;
  text-transform:lowercase;
  letter-spacing:0.1em;
  font-size:2em;
}

#events-feature {
  transition:color 0.5s ease;
  position:absolute;
  bottom:0.2em;
  left:0.5em;
  color:#fff;
  font-family:league-gothic,sans-serif;
  text-transform:uppercase;
  letter-spacing:0.1em;
  font-size:6em;
  font-weight:100;
  max-width:8em;
}

#events-feature:hover {
  color:#ff7878;
}

/*
* FOOTER
*/

footer {
  background:-webkit-linear-gradient(right, rgb(230,48,46), rgb(166,48,44));
  box-sizing:border-box;

  display:flex;
  align-content:center;
  align-items:center;
  -webkit-flex-direction:row;
  flex-direction:row;
}

.footer-section {
  margin:5vh 10vw 5vh 10vw;
  width:20vw;
  font-family:Avenir, sans-serif;
  font-size:0.8em;
}

.footer-section-icons {
  max-width:10vw;
  min-width:80px;
}

summary {
  color:black;
}

.footer-info {
  color:white;
  letter-spacing:0.05em;
  font-weight:100;
  margin:0;
}

.footer-icon {
  max-width:2.5vw;
  min-width:25px;
  margin:0 0.5vw 0 0.5vw;
}

a {
  text-decoration:none;
}

/*
* CONSULTANCY - WHAT WE DO
*/

#what-we-do-section {
  background:-webkit-linear-gradient(rgb(230,48,46), rgb(166,48,44));
  box-sizing:border-box;

  display:flex;
  align-content:center;
  align-items:center;

  font-family:Avenir, sans-serif;
  color:#ff9999;
}

#what-we-do-container {
  width:40vw;
  padding:0 0 0 10vw;
}

#what-we-do {
  width:20vw;
  text-transform:lowercase;
  font-weight:100;
  font-size:1.2em;
  color:#fff;
}

#what-we-do-underline {
  border-bottom: 2px solid #fff;
  width:5vw;
}

#what-we-do-text {
  width:40vw;
  font-size:1.1em;
}

.what-we-do-relevant {
  font-weight:800;
  color:#fff;
}

/*
* CONSULTANCY - OUR PROCESS
*/

#our-process-section {
  box-sizing:border-box;

  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:column;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  overflow:hidden;
  height:100vh;
  background-image:url("/images/our-process-cover.png");
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}

#our-process-video-color {

  animation: fade 4s 1s infinite linear alternate;
  background-image:url("/images/our-process-video-cover.png");
  background-color:#000;
  background-blend-mode:multiply;

  opacity:0.7;

  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

#our-process {
  width:80vw;
  font-family:Avenir, sans-serif;
  text-transform:lowercase;
  font-weight:100;
  color:#fff;
  position:absolute;
  top:1em;
}

#our-process-cards-container {
  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:row wrap;
  flex-direction:row wrap;
  justify-content: space-around;
  position:absolute;
}

.our-process-card {
  background-color:#fff;
  box-shadow:0 0 15px #5f4444;

  width:300px;
  margin:0 0.5vw 0 0.5vw;
  padding:1em;
  bottom:3em;

  font-family:Avenir, sans-serif;
  text-align:justify;
}

/*
* CONSULTANCY - OUR VISION
*/

#our-vision-schema {
  width:50vw;
  margin:2vh 25vw 0 25vw;
}

#our-vision-container {
  width:40vw;
  padding:0 0 0 10vw;
  top:20;
}

#our-vision {
  width:20vw;
  text-transform:lowercase;
  font-weight:100;
  font-size:1.5em;
  color:#fff;
  font-family:"Avenir CDN", sans-serif;
  padding-top:1em;
}

#our-vision-underline {
  border-bottom: 2px solid rgb(230,48,46);
  width:5vw;
}

/*
* CONSULTANCY - CLIENTS
*/

#clients-section {
  background-color:rgb(192,189,189);
  box-sizing:border-box;

  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:column;
  flex-direction:column;
  align-content:center;

  font-family:Avenir, sans-serif;
  color:#ff9999;
}

#clients-container {
  width:40vw;
  padding:0 0 0 10vw;
  top:20;
}

#clients {
  width:20vw;
  text-transform:lowercase;
  font-weight:100;
  font-size:1.5em;
  color:#fff;
}

#clients-underline {
  border-bottom: 2px solid rgb(230,48,46);
  width:5vw;
}

#clients-logos-container {
  padding:0 0 0 10vw;
  margin:0;
}

.clients-logo {
  max-width: 70vw;
  min-width: 65px;
  margin:1em;
}

#mattel {
  max-width: 12vw;
  min-width: 30px;
}

/*
* SHARED-ECONOMY ENGINE - DELUXE
*/

#deluxe-section {
  background-image:url("/images/deluxe-cover.png");
  background-size:cover;
  box-sizing:border-box;

  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:column;
  flex-flow:column;
  align-content:center;
  align-items:center;

  font-family:Avenir, sans-serif;
  color:#ff9999;
}

#deluxe-logo {
  max-width:30vw;
  min-width:180px;
  margin:25vh 0 10vh 0;
}

#deluxe-icon {
  max-width:10vw;
  min-width:70px;
}

#deluxe-text {
  margin:10vh;
  font-size:1.2em;
  color:white;
}

#deluxe-app {
  position:static;
  margin:0;
  max-width:55vw;
  min-width:350px;
  margin:-20vw 0 0 -100vw;
}

/*
* SHARED-ECONOMY ENGINE - FONDAPP
*/

#fondapp-section {
  background-image:url("/images/fondapp-cover.png");
  background-size:cover;
  box-sizing:border-box;

  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:row;
  flex-flow:row;
  align-content:center;
  align-items:center;

  font-family:Avenir, sans-serif;
  color:#ff9999;
}

#fondapp-container {
  width:80vw;
  padding:20vw;
}

#fondapp-icon {
  max-width:10vw;
  min-width:70px;
}

#fondapp {
  font-family:PragmataPro, sans-serif;
  text-transform:uppercase;
  width:10vw;
  text-align:center;
  font-size:1.2em;
  letter-spacing:0.05em;
}

#fondapp-app {
  position:static;
  margin:6vh 25vw 0 0;
  max-height:70vh;
}

/*
* EVENTS - NIM
*/

#nim-section {
  box-sizing:border-box;

  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:row;
  flex-flow:row;
  align-content:center;
  align-items:center;

  font-family:Avenir, sans-serif;
  background-color:white;
}

#nim-imtt {
  max-width:20vw;
  min-width:100px;
  margin:0 5vw 0 10vw;
}

#nim-text {
  width:40vw;
  text-align:justify;
  color:black;
  font-weight:100;
  margin:0 0 0 10vw;
  font-size:1.2em;
}

.nim-text-feature {
  font-weight:800;
}

/*
* EVENTS - NIM EVENTS / MEETUPS
*/

.nim-banner {
  background-color:black;
  color:white;
  text-align:center;
  font-family:Avenir, sans-serif;
  text-transform:uppercase;
  letter-spacing:0.2em;
  font-size:1.5em;
  padding:0.1em;
  z-index:10;
  position:relative;
}

/*
* EVENTS - NIM EVENTS
*/

#nim-events-section {
  background-color:white;
}

#nim-events-container {
  box-sizing:border-box;

  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:row wrap;
  flex-flow:row wrap;
  align-content:center;
  align-items:center;
  justify-content:space-between;
  width:80vw;
  height:80vh;
  margin-left:8vw;
  margin-top:-10vh;
}
.nim-event {
  max-width:10vw;
  min-width:100px;
  margin:1em;
  padding:1em;
}

.nim-event-image {
  width:15vw;
}

.nim-event-text {
  font-family:Avenir,sans-serif;
  font-size:1em;
  text-align:justify;
  width:15vw;
  margin-top:15vh;
}

#nim-creaton {
  width:18vw;
  margin:-20vh 0 0 0;
}

/*
* EVENTS - NIM MEETUPS
*/

#nim-meetups-intro {
  font-family:Avenir, sans-serif;
  font-size:1em;
  width:60vw;
  text-align:justify;
  margin:5vh auto;
}

.nim-meetup-container {
  box-sizing:border-box;

  display:flex;
  display:-webkit-flex;
  -webkit-flex-direction:row;
  flex-flow:row;
  align-content:center;
  align-items:center;
  justify-content:center;

  margin:2vh 2vw 0 2vw;
}

#nim-diseneria-logo {
  background-image:url("/images/nim-diseneria.png");
  background-repeat:no-repeat;
  background-size:contain;

  width:18vw;
  height:30vh;
  margin:5vh 2vw 0 2vw;
}

#nim-futurologi-logo {
  background-image:url("/images/nim-futurologi.png");
  background-repeat:no-repeat;
  background-size:contain;

  width:10vw;
  height:30vh;
  margin:5vh 2vw 0 2vw;
  padding:1em;
}

.nim-meetup-text {
  width:30vw;
  margin:0 5vw 0 5vw;
  font-family:Avenir,sans-serif;
  font-size:1em;
}
