/*
* iPhone 6
*/
@media only screen
    and (min-device-width : 300px)
    and (max-device-width : 1024px) {

  /*
  * QUOTE REQUEST
  */

  #be-quoted-description {
    height:10vh;
    width:100vw;
    color:red;
  }

  #be-quoted-service, #be-quoted-service-description {
    color:transparent;
  }

  .be-quoted-field > input {
    width:70vw;
    margin-left:7vw;
    display:flex;
    display:-webkit-flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    text-align:center;
  }

  .be-quoted-field > textarea {
    width:80vw;
    text-align:center;
  }

  .be-quoted-field {
    margin-top:-0.7vh;
  }

  #first-be-quoted-field {
    margin-top:1.2vh;
  }

  #be-quoted-submit {
    margin:0 36vw;
    padding:1vh 3vw;
  }

  #email {
    margin-right:9vw;
  }

  #menu-trigger {
    top:3vh;
  }

  .be-quoted-close {
    background-image: url(/images/menu-icon-close.png);
    margin-top:-10vh;
  }

  .be-quoted-field > select {
    width:25vw;
  }

  .be-quoted-date-field > select {
    width:25vw;
  }

  .be-quoted-visible {
    -webkit-flex-direction:column;
    flex-direction:column;
  }

  #be-quoted-section > form {
    font-size:1em;
    margin-left:2vw;
  }

  #be-quoted-steed {
    font-size:3em;
    text-align:center;
    margin-top:1vh;
  }

  /*
  * SPLASH
  */

  #welcome {
    font-size:0.8em;
  }

  #steed {
    font-size:4em;
  }

  /*
  * CONSULTANCY
  */

  #consultancy {
    font-size:3.6em;
    top:4em;
  }

  #consultancy-video {
    height:250vh;
    zoom:350%;
  }

  #consultancy-video-color {
    background-image:url('/images/consultancy-cover-mobile.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position-x:-30vw;
  }

  /*
  * SOLUTIONS
  */

  #solutions {
    font-size:1.2em;
    top:20em;
  }

  #solutions-feature {
    font-size:3.6em;
    top:2em;
  }

  #solutions-iphone {
    height:35vh;
    bottom:22em;
  }

  /*
  * EVENTS
  */

  #events-section {
    background-image:url('/images/events-cover-mobile.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position-x:-30vw;
  }

  #events {
    font-size:1.2em;
    top:20em;
  }

  #events-feature {
    font-size:3.6em;
    top:2em;
  }
}
